input#geolocation_latitude type='hidden' value=resource.geolocation.latitude
input#geolocation_longitude type='hidden' value=resource.geolocation.longitude
#map data={'marker-icon' => image_path('admin/map-marker.png')} style='width:100%; height:400px'
p.text-center style='margin:10px 0;'
  a.btn.btn-default href=resource.geolocation.direction_url target='_blank' Get Directions
